<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!--<script src="javascripts/bootstrap.min.js"></script>-->
<script src="javascripts/bootstrap.js"></script>
<script src="javascripts/sha256.js"></script>
<script src="javascripts/helper.js"></script>
<script src="javascripts/Block.js"></script>
<script src="javascripts/BlockForm.js"></script>
<script src="javascripts/HashForm.js"></script>
<script src="javascripts/main.js"></script>

<div class="container">
<!--<div id="main" class="container-fluid">-->
    <h1>{{title}}</h1>
    <div id="blockchain">

    </div>
    <!--<div class="form-group">-->
        <div class="col-sm-6 col-sm-offset-3">
            <button type="button" id="add-block-button" class="btn btn-primary form-control">Add Block</button>
        </div>
    <!--</div>-->

</div>
