<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!--<script src="javascripts/bootstrap.min.js"></script>-->
<script src="javascripts/bootstrap.js"></script>
<script src="javascripts/sha256.js"></script>
<script src="javascripts/helper.js"></script>
<script src="javascripts/Block.js"></script>
<script src="javascripts/BlockForm.js"></script>
<script src="javascripts/HashForm.js"></script>
<script src="javascripts/blockchain.js"></script>

<div class="container">
<!--<div class="container-fluid">-->
    <h1>Blockchain</h1>
    <h4>Previously we use text+nonce as input to the hash function, that is hash(text+nonce).</h4>
    <h4>Let's call the combination of text, nonce and hash a block.</h4>
    <h4>When a hash is found matching the number of leading zeros wanted, it is said to be signed</b>.</h4>
    <h4>To create a chain of these blocks, an extra element is added, the hash of the previous block, and used as the current block hash input in addition to the text and nonce.</h4>
    <h4>hash = hash(previous hash + text + nonce)</h4>
    <h4>Therefore if any block in the chain is modified, then all the subsequent blocks in the chain will be modified too and they all need to be re-signed.</h4>
    <h4>Use the "Mine" button to sign a block</h4>
    <div id="blockchain">

    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <button type="button" id="add-block-button" class="btn btn-primary form-control">Add Block</button>
        </div>
    </div>
    <!-- Commented out because ugly -->
    <!--
    <div class="row">
        <div class="col-sm-2">
            <a href="./work">
                <button type="button" id="previous" class="btn btn-primary form-control">Previous</button>
            </a>
        </div>
    </div>
    -->
</div>
