<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!--<script src="javascripts/bootstrap.min.js"></script>-->
<script src="javascripts/bootstrap.js"></script>
<script src="javascripts/sha256.js"></script>
<script src="javascripts/helper.js"></script>
<script src="javascripts/Block.js"></script>
<script src="javascripts/BlockForm.js"></script>
<script src="javascripts/HashForm.js"></script>
<script src="javascripts/hash.js"></script>

<div class="container">
    <h1>Hash</h1>
    <h4>The hash function 'sha256' produces a string that has always the same fixed length (64 characters) and for the same input it is always produces the same output.</h4>
    <h4>ouput = hash(input)</h4>
    <h4>The output is also called "hash".</h4>
    <div id="hash">

    </div>
</div>
