<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/sha256.js"></script>
<script src="javascripts/helper.js"></script>
<script src="javascripts/Block.js"></script>
<script src="javascripts/BlockForm.js"></script>
<script src="javascripts/main.js"></script>

<h1>{{title}}</h1>
<div id="main">

</div>
